version: "3"

services:
  postgres:
    image: postgres:11.4
    container_name: workflow_postgres
    restart: always
    env_file:
      - ./.env.docker
    ports:
      - 5432:5432

  app:
    container_name: workflow_app
    image: node:14.18.0
    restart: on-failure:10 # necessary due to possibility of postgres not being ready when service runs
    env_file:
      - ./.env.docker
    environment:
      NODE_ENV: docker
    tty: true
    ports:
      - 9229:9229
    depends_on:
      - postgres
    volumes:
      - .:/usr/app
      - /usr/app/node_modules
    working_dir: /usr/app
    command: ./scripts/run_tests.sh
    #command: bash -c " npm install && npm install knex -g && npm audit fix && npm run migrations && npm run seeds && npm run tests "
