name: Node.js CI

on:
  pull_request:
    branches:
      - master
      - development

jobs:
  test:
    name: start on node ${{ matrix.node_version }} in ${{ matrix.os }}, lint and test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node-version: ["14"]
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: install dependencies
        run:
          npm ci
        # npm run lint
      - name: start database
        run: docker-compose up -d postgres

      - name: start app
        run: docker-compose up app

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
